[user]
	name = remmers
	email = 15615520+remmers@users.noreply.github.com
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[init]
	defaultBranch = main

# see also https://github.com/jessfraz/dotfiles/blob/main/.gitconfig
[alias]
	# Color graph log view
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
